body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(31, 0, 71);
}

#boats {
    background-color: #454679;
}

.boat {
    background-color: rgba(255, 0, 0, 0.418);
}

#grid {
    background-color: rgb(31, 0, 71);
}

th, td {
    white-space: pre-wrap;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    color: #ffc900;
    text-shadow: 1px 1px 1px black;
    background-color:#636363;
    width: 20px;
    height: 20px;
    text-align: center;
}

th {
    color: rgb(0, 183, 255);
}

table {
    margin: 5px;
}

span {
    white-space: pre-wrap;
    font-weight: bold;
    margin: 5px;
    color: rgb(0, 183, 255);
    text-shadow: 1px 1px 1px black; 
}

#game {
    display: inline-flex;
    background-color: #454679;
    box-shadow: 2px 2px 2px black;
}

div {
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
}

.current-player {
    color:#ffc900;
    text-shadow: 2px 2px 2px rgb(0, 50, 70);
}